{{define "main"}}
# {{.Infos.Title}} ({{.Infos.Version}})
{{.Infos.Description}}
{{template "endpoints" .}}
{{template "schemas" .}}
{{end}}

{{define "endpoints"}}
{{range $tag, $endpoints := .TagToEndpoints}}
## {{$tag}}
{{range $endpoint := $endpoints}}
<a id="{{$endpoint.OperationId}}"></a>
<details>
<summary><code>{{$endpoint.Method}}</code> <code><b>{{$endpoint.Path}}</b></code> <code><i>{{$endpoint.Summary}}</i></code></summary>
{{if $endpoint.Description}}
{{$endpoint.Description}}
{{end}}
{{if or $endpoint.Parameters $endpoint.RequestBody}}
### Parameters
> | name | in | data type | required | description |
> | --- | --- | --- | --- | --- |
{{range $param := $endpoint.Parameters -}}
> | {{$param.Name}} | {{$param.In}} | {{template "typeSchema" $param.Schema}} | {{or $param.Required "false"}} | {{$param.Description}}  |
{{end -}}
{{- end -}}
{{if $endpoint.RequestBody -}}
> | body | body | {{template "typeBody" $endpoint.RequestBody}} | {{or $endpoint.RequestBody.Required "false"}} | {{$endpoint.RequestBody.Description}}  |
{{end}}
{{if $endpoint.Responses}}
### Responses
> | status | description | schema |
> | --- | --- | --- |
{{range $status, $response := $endpoint.Responses.Codes.FromOldest -}}
> | {{$status}} | {{$response.Description}} | {{template "typeContent" $response.Content}} |
{{end}}
{{end}}
</details>
{{end}}
{{end}}
{{end}}

{{define "schemas"}}
## Schemas
{{range $ref, $schema := .RefToSchema}}
<a id="{{refID $ref}}"></a>
<details>
<summary><code>{{refName $ref}}</code></summary>
{{if $schema.Properties}}
#### Properties
> | name | type | required | restrictions | description |
> | --- | --- | --- | --- | --- |
{{range $name, $prop := $schema.Properties.FromOldest -}}
> | {{$name}} | {{template "typeSchema" $prop}} | {{contains $schema.Required $name}} |   | {{$prop.Schema.Description}} |
{{end}}
{{else if $schema.Items -}}
#### Properties
> | name | type | required | restrictions | description |
> | --- | --- | --- | --- | --- |
> | *anonymous* | [{{template "typeSchema" $schema.Items.A}}] | false | none | none  |
{{end}}
</details>
{{end}}
{{end}}

{{define "typeBody"}}
{{- if . -}}
{{template "typeContent" .Content}}
{{- end -}}
{{end}}

{{define "typeContent"}}
{{- if . -}}
{{- $sep := "" -}}
{{- range $mediaType, $schema := .FromOldest -}}
{{- $sep -}}{{template "typeSchema" $schema.Schema}}
{{- $sep = "<br/>" -}}
{{- end -}}
{{- end -}}
{{end}}

{{define "typeSchema"}}
{{- if .IsReference -}}
[{{ refName .GetReference }}]({{ refAnchor .GetReference}})
{{- else -}}
{{- with $schema := .Schema -}}
{{- if .Type -}}
{{- with $type := index .Type 0 -}}
{{- if eq $type "array" -}}
[{{template "typeSchema" $schema.Items.A}}]
{{- else  -}}
{{- $type -}}{{if  $schema.Format -}}({{ $schema.Format }}){{- end -}}
{{- end -}}
{{- end -}}
{{- if .Enum -}}
<br/>*Available values:* {{range $index,$value := .Enum}}{{- if $index -}}, {{ end -}}{{- $value.Value -}}{{- end -}}
{{- end -}}
{{- if .Default -}}
<br/>*Default value:* {{.Default.Value}}
{{- end -}}
{{- end -}}
{{- end -}}
{{- end -}}
{{end}}
