{{define "main"}}
# {{.Infos.Title}} ({{.Infos.Version}})
{{.Infos.Description}}
{{template "endpoints" .}}
{{template "schemas" .}}
{{end}}

{{define "endpoints"}}
{{range $tag, $endpoints := .TagToEndpoints}}
## {{$tag}}
{{range $endpoint := $endpoints}}
<a id="{{$endpoint.OperationId}}"></a>
<details>
<summary><code>{{$endpoint.Method}}</code> <code><b>{{$endpoint.Path}}</b></code> <code><i>{{$endpoint.Summary}}</i></code></summary>
{{if $endpoint.Description}}
{{$endpoint.Description}}
{{end}}
{{if or $endpoint.Parameters $endpoint.RequestBody}}
### Parameters
> | name | in | data type | required | description |
> | --- | --- | --- | --- | --- |
{{range $param := $endpoint.Parameters -}}
> | {{$param.Name}} | {{$param.In}} | {{template "typeSchema" dict "SchemaProxy" $param.Schema}} | {{or $param.Required "false"}} | {{$param.Description}}  |
{{end -}}
{{- end -}}
{{if $endpoint.RequestBody -}}
{{- $bodyID := print $endpoint.OperationId "Body" -}}
> | body | body | {{template "typeBody" dict "Description" $bodyID "Body" $endpoint.RequestBody}} | {{or $endpoint.RequestBody.Required "false"}} | {{$endpoint.RequestBody.Description}}  |
{{end}}
{{if $endpoint.Responses}}
### Responses
> | status | description | schema |
> | --- | --- | --- |
{{range $status, $response := $endpoint.Responses.Codes.FromOldest -}}
{{- $responseID := print $endpoint.OperationId "Response" $status -}}
> | {{$status}} | {{$response.Description}} | {{template "typeContent" dict "Description" $responseID  "Content" $response.Content}} |
{{end}}
{{end}}
</details>
{{end}}
{{end}}
{{end}}

{{define "schemas"}}
## Schemas
{{range $ref, $schema := .RefToSchema}}
<a id="{{refID $ref}}"></a>
<details>
<summary><code>{{refName $ref}}</code></summary>
{{if $schema.Properties}}
#### Properties
> | name | type | required | restrictions | description |
> | --- | --- | --- | --- | --- |
{{range $name, $prop := $schema.Properties.FromOldest -}}
> | {{$name}} | {{template "typeSchema" dict "SchemaProxy" $prop}} | {{contains $schema.Required $name}} |   | {{$prop.Schema.Description}} |
{{end}}
{{else if $schema.Items -}}
#### Properties
> | name | type | required | restrictions | description |
> | --- | --- | --- | --- | --- |
> | *anonymous* | [{{template "typeSchema" dict "SchemaProxy" $schema.Items.A}}] | false | none | none  |
{{end}}
</details>
{{end}}
{{end}}

{{/* generate body type */}}
{{define "typeBody"}}
    {{- with $dict := . -}}
        {{- $body := .Body -}}
        {{- $description := .Description -}}
        {{template "typeContent" dict "Description" $description "Content" $body.Content}}
    {{- end -}}
{{end}}

{{/* generate content type */}}
{{define "typeContent"}}
    {{- with $dict := . -}}
        {{- $content := $dict.Content -}}
        {{- $description := $dict.Description -}}
        {{- $first := true -}}
        {{- range $mediaType, $schemaProxy := $content.FromOldest -}}
            {{- if not $first -}}<br/>{{- end -}}{{template "typeSchema" dict "Description" $description "SchemaProxy" $schemaProxy.Schema }}
            {{- $first = false -}}
        {{- end -}}
    {{- end -}}
{{end}}


{{/* generate schema proxy type */}}
{{define "typeSchema"}}
    {{- with $dict := . -}}
        {{- $schemaProxy := $dict.SchemaProxy -}}
        {{- $description := $dict.Description -}}
        {{- if $schemaProxy.IsReference -}}
            [{{ refName $schemaProxy.GetReference }}](#{{ refAnchor $schemaProxy.GetReference}})
        {{- else -}}
            {{- with $schema := $schemaProxy.Schema -}}
                {{- if .Type -}}
                    {{- with $type := index .Type 0 -}}
                        {{- if eq $type "array" -}}
                            [{{template "typeSchema" dict "Description" $description "SchemaProxy" $schema.Items.A}}]
                        {{- else  -}}
                            {{- if eq $type "object" -}}
                                [object](#{{ $description }})
                            {{- else  -}}
                                {{- $type -}}{{if  $schema.Format -}}({{ $schema.Format }}){{- end -}}
                            {{- end -}}
                        {{- end -}}
                    {{- end -}}
                    {{- if .Enum -}}
                        <br/>*Available values:* {{range $index,$value := .Enum}}{{- if $index -}}, {{ end -}}{{- $value.Value -}}{{- end -}}
                    {{- end -}}
                    {{- if .Default -}}
                        <br/>*Default value:* {{.Default.Value}}
                    {{- end -}}
                {{- end -}}
            {{- end -}}
        {{- end -}}
    {{- end -}}
{{end}}
