{{define "main"}}
# {{.Infos.Title}} ({{.Infos.Version}})
{{.Infos.Description}}
{{template "endpoints" .}}
{{template "schemas" .}}
{{end}}

{{define "endpoints"}}
{{range $tag, $endpoints := .TagToEndpoints}}
## {{$tag}}
{{range $endpoint := $endpoints}}
<a id="{{$endpoint.OperationId}}"></a>
<details>
<summary><code>{{$endpoint.Method}}</code> <code><b>{{$endpoint.Path}}</b></code> <code><i>{{$endpoint.Summary}}</i></code></summary>
{{if $endpoint.Description}}
{{$endpoint.Description}}
{{end}}
{{if or $endpoint.Parameters $endpoint.RequestBody}}
{{- /* endpoint request parameters */ -}}
### Parameters
> | name | in | data type | required | description |
> | --- | --- | --- | --- | --- |
{{range $param := $endpoint.Parameters -}}
> | {{$param.Name}} | {{$param.In}} | {{template "schemaType" dict "SchemaProxy" $param.Schema}} | {{or $param.Required "false"}} | {{$param.Description}}  |
{{end -}}
{{- end -}}
{{- /* endpoint request body */ -}}
{{if $endpoint.RequestBody -}}
{{- $description := print $endpoint.OperationId "Body" -}}
{{- $content := $endpoint.RequestBody.Content -}}
{{- $withInlineSchema := eq (and $content $content.Len) 1 -}}
{{- if $withInlineSchema -}}
{{- $description = "" -}}
{{- end -}}
> | body | body | {{template "bodyType" dict "Body" $endpoint.RequestBody "Description" $description}} | {{or $endpoint.RequestBody.Required "false"}} | {{$endpoint.RequestBody.Description}}  |
{{- if $withInlineSchema -}}
{{template "schema" dict "SchemaProxy" $endpoint.RequestBody.Content.First.Value.Schema "In" "body" "Depth" 0}}
{{end}}
{{end}}
{{- /* endpoint responses */ -}}
{{if $endpoint.Responses}}
### Responses
> | status | description | schema |
> | --- | --- | --- |
{{range $status, $response := $endpoint.Responses.Codes.FromOldest -}}
{{- $responseID := print $endpoint.OperationId "Response" $status -}}
> | {{$status}} | {{$response.Description}} | {{template "contentType" dict "Description" $responseID  "Content" $response.Content}} |
{{end}}
{{- /* endpoint inline responses schema */ -}}
{{- $responseSchema := false }}
{{- range $status, $response := $endpoint.Responses.Codes.FromOldest -}}
    {{- range $contentType , $mediaType := $response.Content.FromOldest -}}
        {{- $schemaProxy := $mediaType.Schema -}}
        {{- $childSchemaProxy := null -}}
        {{- with $schema := $schemaProxy.Schema -}}
        {{- with $type := index $schema.Type 0 -}}
            {{- if eq $type "object" -}}
            {{- $childSchemaProxy = $schemaProxy -}}
            {{- else if eq $type "array"}}
            {{- $childSchemaProxy = $schema.Items.A -}}
            {{- end -}}
        {{- end -}}
        {{- end -}}
        {{- if and $childSchemaProxy (not $childSchemaProxy.IsReference) -}}
            {{- if not $responseSchema }}
### Responses Schema
            {{- $responseSchema = true -}}
            {{end}}
            {{- $schemaID := refID (print $endpoint.OperationId "Response" "-" $status "-" $contentType "-" $childSchemaProxy.Schema.Title) -}}
<a id="{{$schemaID}}"></a>
Status Code {{$status}}
> | name | type | required |description |
> | --- | --- | --- | --- |
            {{- template "schema" dict "SchemaProxy" $childSchemaProxy "Depth" 0}}
        {{- end -}}
    {{- end -}}
{{- end -}}    
{{end}}
</details>
{{end}}
{{end}}
{{end}}

{{define "schemas"}}
{{- with $schemas := .RefToSchema -}}
## Schemas
{{range $ref, $schema := $schemas}}
<a id="{{refID $ref}}"></a>
<details>
<summary><code>{{refName $ref}}</code></summary>
{{if $schema.Properties}}
### Properties
> | name | type | required | description |
> | --- | --- | --- | ---  |
{{range $name, $prop := $schema.Properties.FromOldest -}}
> | {{$name}} | {{template "schemaType" dict "SchemaProxy" $prop}} | {{contains $schema.Required $name}} | {{$prop.Schema.Description}} |
{{end}}
{{else if $schema.Items -}}
### Properties
> | name | type | required | description |
> | --- | --- | --- | --- |
> | *anonymous* | [{{template "schemaType" dict "SchemaProxy" $schema.Items.A}}] | false | none  |
{{else if $schema.Enum -}}
{{with $type := index $schema.Type 0}}
### Properties
> | name | type | required | description |
> | --- | --- | --- | --- |
> | *anonymous* | {{$type}} | false | none  |
{{end}}

### Enumerated Values
> | value | 
> | --- |
{{range $node := $schema.Enum -}}
> | {{$node.Value}} |
{{end}}
{{end}}
</details>
{{end}}
{{- end -}}
{{end}}

{{/* generate inline schema */}}
{{define "schema"}}
    {{- with $dict := . -}}
        {{- $depth := $dict.Depth -}}
        {{- $schemaProxy := $dict.SchemaProxy -}}
        {{- $in := $dict.In -}}
        {{- if not $schemaProxy.IsReference -}}
            {{- with $schema := $schemaProxy.Schema}}
            {{- range $name, $prop := $schema.Properties.FromOldest}}
> | {{range until $depth}}  {{end}}└── {{$name}} {{if $in}}| {{$in}} {{end}}| {{template "schemaType" dict "SchemaProxy" $prop}} | {{contains $schema.Required $name}} | {{$prop.Schema.Description}} |
                {{- if not $prop.IsReference -}}                   
                    {{- with  $type := index $schema.Type 0 -}}
                        {{- if eq $type "object" -}}
{{template "schema" dict "SchemaProxy" $prop "Depth" (add $depth 1)}}
                        {{- end -}}
                    {{- end -}}
                {{- end -}}
            {{end -}}
            {{- end -}}
        {{- end -}}
    {{- end -}}
{{end}}

{{/* generate body type */}}
{{define "bodyType"}}
    {{- with $dict := . -}}
        {{- $body := .Body -}}
        {{- $description := .Description -}}
        {{template "contentType" dict "Description" $description "Content" $body.Content}}
    {{- end -}}
{{end}}

{{/* generate content type */}}
{{define "contentType"}}
    {{- with $dict := . -}}
        {{- $content := $dict.Content -}}
        {{- $description := $dict.Description -}}
        {{- $withContentType := and $content (gt $content.Len 1) -}}
        {{if $withContentType}}<dl>{{end}}
        {{- range $contentType, $mediaType := $content.FromOldest -}}
            {{- $contentDesc := and $description (refID (print $description "-" $contentType)) -}}
            {{- if $withContentType -}}<dt>**{{$contentType}}**</dt><dd>{{- end -}}{{template "schemaType" dict "Description" $contentDesc "SchemaProxy" $mediaType.Schema }}{{- if $withContentType -}}</dd>{{- end -}}
        {{- end -}}
        {{if $withContentType}}</dl>{{end}}
    {{- end -}}
{{end}}


{{/* generate schema proxy type */}}
{{define "schemaType"}}
    {{- with $dict := . -}}
        {{- $schemaProxy := $dict.SchemaProxy -}}
        {{- $description := $dict.Description -}}
        {{- if $schemaProxy.IsReference -}}
            [{{ refName $schemaProxy.GetReference }}](#{{ refAnchor $schemaProxy.GetReference}})
        {{- else -}}
            {{- with $schema := $schemaProxy.Schema -}}
                {{- if .Type -}}
                    {{- with $type := index .Type 0 -}}
                        {{- if eq $type "array" -}}
                            [{{template "schemaType" dict "Description" $description "SchemaProxy" $schema.Items.A}}]
                        {{- else if eq $type "object" -}}
                            {{- if $description -}}
                            [{{or $schema.Title "object"}}](#{{refID (print $description "-" $schema.Title)}})
                            {{- else -}}
                            object
                            {{- end -}}
                        {{- else  -}}
                            {{- $type -}}{{if  $schema.Format -}}({{ $schema.Format }}){{- end -}}
                        {{- end -}}
                    {{- end -}}
                    {{- if .Enum -}}
                        <br/>*Available values:* {{range $index,$value := .Enum}}{{- if $index -}}, {{ end -}}{{- $value.Value -}}{{- end -}}
                    {{- end -}}
                    {{- if .Default -}}
                        <br/>*Default value:* {{.Default.Value}}
                    {{- end -}}
                {{- end -}}
            {{- end -}}
        {{- end -}}
    {{- end -}}
{{end}}

