{{define "main"}}
# {{.Infos.Title}} ({{.Infos.Version}})
{{.Infos.Description}}
{{template "endpoints" .}}
{{template "schemas" .}}
{{end}}

{{define "endpoints"}}
{{- $model := .}}
{{range $tag, $endpoints := $model.TagToEndpoints}}
{{- $tagDescription := ""}}
{{- with $tagInfos := index $model.Tags $tag -}}
{{- $tagDescription = $tagInfos.Description -}}
{{- end -}}
## {{$tag}}
{{$tagDescription}}
{{range $endpoint := $endpoints}}
<a id="{{$endpoint.OperationId}}"></a>
<details>
<summary><code>{{$endpoint.Method}}</code> <code><b>{{$endpoint.Path}}</b></code> <code><i>{{$endpoint.Summary}}</i></code></summary>
{{if $endpoint.Description}}
{{$endpoint.Description}}
{{end}}
{{if or $endpoint.Parameters $endpoint.RequestBody}}
{{- /* endpoint request parameters */ -}}
### Parameters
> | name | in | data type | required | description |
> | --- | --- | --- | --- | --- |
{{range $param := $endpoint.Parameters -}}
> | {{$param.Name}} | {{$param.In}} | {{template "schemaType" dict "SchemaProxy" $param.Schema}} | {{or $param.Required "false"}} | {{$param.Description}}  |
{{end -}}
{{- end -}}
{{- /* endpoint request body */ -}}
{{if $endpoint.RequestBody -}}
{{- $bodyID := print $endpoint.OperationId "Body" -}}
{{- $content := $endpoint.RequestBody.Content -}}
{{- $withProperties := eq (and $content $content.Len) 1 -}}
{{- if $withProperties -}}
    {{- $bodyID = "" -}}
{{- end -}}
> | body | body | {{template "bodyType" dict "Body" $endpoint.RequestBody "Id" $bodyID}} | {{or $endpoint.RequestBody.Required "false"}} | {{$endpoint.RequestBody.Description}}  |
{{- if $withProperties -}}
{{- /* add body properties in parameters if we have only one content */ -}}
{{template "schemaProperties" dict "SchemaProxy" $endpoint.RequestBody.Content.First.Value.Schema "In" "body" "Depth" 0}}
{{else}}
{{- /* add body content contents details */ -}}
{{ template "schemaContent" dict "Header" "Body Schema" "Content" $content "Id" $bodyID}}
{{- end -}}
{{end}}
{{- /* endpoint responses */ -}}
{{if $endpoint.Responses}}
### Responses
> | status | description | schema |
> | --- | --- | --- |
{{range $status, $response := $endpoint.Responses.Codes.FromOldest -}}
{{- $responseID := print $endpoint.OperationId "Response" $status -}}
> | {{$status}} | {{$response.Description}} | {{template "contentType" dict "Id" $responseID  "Content" $response.Content}} |
{{end}}
{{- /* endpoint responses schema */ -}}
{{- $responseSchema := false }}
{{- range $status, $response := $endpoint.Responses.Codes.FromOldest}}
    {{- $responseID := print $endpoint.OperationId "Response" "-" $status }}
    {{- $responseDesc := print "Status Code " $status -}}
    {{- template "schemaContent" dict "Header" "Responses Schema" "Content" $response.Content "Id" $responseID "Description" $responseDesc  }}
{{- end -}}    
{{end}}
</details>
{{end}}
{{end}}
{{end}}

{{define "schemas"}}
{{- with $schemas := .RefToSchema -}}
## Schemas
{{range $ref, $schema := $schemas}}
<a id="{{refID $ref}}"></a>
<details>
<summary><code>{{refName $ref}}</code></summary>
{{template "schemaRef" dict "Schema" $schema}}
</details>
{{end}}
{{end}}
{{end}}

{{define "schemaContent"}}
     {{- with $dict := . -}}
        {{- $content := $dict.Content -}}
        {{- $id := $dict.Id -}}
        {{- $header := $dict.Header -}}
        {{- $description := $dict.Description -}}
        {{- $withHeader := false}}
        {{- range $contentType, $mediaType := $content.FromOldest -}}
            {{- $schemaProxy := $mediaType.Schema -}}
            {{- $childSchemaProxy := null -}}
            {{- with $schema := $schemaProxy.Schema -}}
            {{- with $type := index $schema.Type 0 -}}
                {{- if eq $type "object" -}}
                {{- $childSchemaProxy = $schemaProxy -}}
                {{- else if eq $type "array"}}
                {{- $childSchemaProxy = $schema.Items.A -}}
                {{- end -}}
            {{- end -}}
            {{- end -}}
            {{- if and $childSchemaProxy (not $childSchemaProxy.IsReference) -}}
                {{- if not $withHeader }}
### {{$header}}
                    {{- $withHeader = true -}}
                {{end}}
                {{- $schemaID := refID (print $id "-" $contentType "-" $childSchemaProxy.Schema.Title) -}}
<a id="{{$schemaID}}"></a>
{{ $description }}
> | name | type | required |description |
> | --- | --- | --- | --- |
                {{- template "schemaProperties" dict "SchemaProxy" $childSchemaProxy "Depth" 0}}
            {{- end -}}
        {{- end -}}            
    {{- end -}}
{{end}}

{{/* generate reference schema */}}
{{define "schemaRef"}}
{{- with $dict := . -}}
{{- $schema := $dict.Schema -}}
{{if $schema.Properties}}
### Properties
> | name | type | required | description |
> | --- | --- | --- | ---  |
{{range $name, $prop := $schema.Properties.FromOldest -}}
> | {{$name}} | {{template "schemaType" dict "SchemaProxy" $prop}} | {{contains $schema.Required $name}} | {{$prop.Schema.Id}} |
{{end}}
{{else if $schema.Items -}}
### Properties
> | name | type | required | description |
> | --- | --- | --- | --- |
> | *anonymous* | [{{template "schemaType" dict "SchemaProxy" $schema.Items.A}}] | false | none  |
{{else if $schema.Enum -}}
{{with $type := index $schema.Type 0}}
### Properties
> | name | type | required | description |
> | --- | --- | --- | --- |
> | *anonymous* | {{$type}} | false | none  |
{{end}}

### Enumerated Values
> | value | 
> | --- |
{{range $node := $schema.Enum -}}
> | {{$node.Value}} |
{{end}}
{{end}}
{{- end -}}
{{end}}

{{/* schema properties*/}}
{{define "schemaProperties"}}
    {{- with $dict := . -}}
        {{- $depth := $dict.Depth -}}
        {{- $schemaProxy := $dict.SchemaProxy -}}
        {{- $in := $dict.In -}}
        {{- if not $schemaProxy.IsReference -}}
            {{- with $schema := $schemaProxy.Schema}}
            {{- range $name, $prop := $schema.Properties.FromOldest}}
> | {{range until $depth}}  {{end}}└── {{$name}} {{if $in}}| {{$in}} {{end}}| {{template "schemaType" dict "SchemaProxy" $prop}} | {{contains $schema.Required $name}} | {{$prop.Schema.Id}} |
                {{- if not $prop.IsReference -}}                   
                    {{- with  $type := index $schema.Type 0 -}}
                        {{- if eq $type "object" -}}
{{template "schemaProperties" dict "SchemaProxy" $prop "Depth" (add $depth 1)}}
                        {{- end -}}
                    {{- end -}}
                {{- end -}}
            {{end -}}
            {{- end -}}
        {{- end -}}
    {{- end -}}
{{end}}

{{/* body type */}}
{{define "bodyType"}}
    {{- with $dict := . -}}
        {{- $body := .Body -}}
        {{- $id := .Id -}}
        {{template "contentType" dict "Id" $id "Content" $body.Content}}
    {{- end -}}
{{end}}

{{/* content type */}}
{{define "contentType"}}
    {{- with $dict := . -}}
        {{- $content := $dict.Content -}}
        {{- $id := $dict.Id -}}
        {{- $withContentType := and $content (gt $content.Len 1) -}}
        {{if $withContentType}}<dl>{{end}}
        {{- range $contentType, $mediaType := $content.FromOldest -}}
            {{- $contentId := and $id (refID (print $id "-" $contentType)) -}}
            {{- if $withContentType -}}<dt>**{{$contentType}}**</dt><dd>{{- end -}}{{template "schemaType" dict "Id" $contentId "SchemaProxy" $mediaType.Schema }}{{- if $withContentType -}}</dd>{{- end -}}
        {{- end -}}
        {{if $withContentType}}</dl>{{end}}
    {{- end -}}
{{end}}


{{/* schema proxy type */}}
{{define "schemaType"}}
    {{- with $dict := . -}}
        {{- $schemaProxy := $dict.SchemaProxy -}}
        {{- $id := $dict.Id -}}
        {{- if $schemaProxy.IsReference -}}
            [{{ refName $schemaProxy.GetReference }}](#{{ refAnchor $schemaProxy.GetReference}})
        {{- else -}}
            {{- with $schema := $schemaProxy.Schema -}}
                {{- if .Type -}}
                    {{- with $type := index .Type 0 -}}
                        {{- if eq $type "array" -}}
                            [{{template "schemaType" dict "Id" $id "SchemaProxy" $schema.Items.A}}]
                        {{- else if eq $type "object" -}}
                            {{- if $id -}}
                            [{{or $schema.Title "object"}}](#{{refID (print $id "-" $schema.Title)}})
                            {{- else -}}
                            object
                            {{- end -}}
                        {{- else  -}}
                            {{- $type -}}{{if  $schema.Format -}}({{ $schema.Format }}){{- end -}}
                        {{- end -}}
                    {{- end -}}
                    {{- if .Enum -}}
                        <br/>*Available values:* {{range $index,$value := .Enum}}{{- if $index -}}, {{ end -}}{{- $value.Value -}}{{- end -}}
                    {{- end -}}
                    {{- if .Default -}}
                        <br/>*Default value:* {{.Default.Value}}
                    {{- end -}}
                {{- end -}}
            {{- end -}}
        {{- end -}}
    {{- end -}}
{{end}}

